body {
   background: url("sunrise-1959227__340.jpg") no-repeat center;
   background-size: cover;

}
h1 {
color: white;

}
h2{
  color: white;

}
h3{
	color: white;
}
h4{
	color: white;
}
p{
  color: white;

}
form{
	padding-left: 500px;
}
