<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <center>
    	   <h1>Ma Landing Page</h1>
    	   <h2>Plus d'infos sur moi</h2>
    	<p>
			Je m'appelle Hippolyte Lefebure

			Je suis passionné par les jeux vidéos, le code dr, les mangas et les films de fantaisie  et de science fiction.
			J'aime voyager USA côte ouest, Autriche, Berlin en Allemagne, Pays-Bas et bien d'autres.
			Je suis sociable et déterminé mais j'ai un gros défaut...mon manque de confiance en moi.

        </p>
        <h3>Mon parcours</h3>
        <p>
        	Après un CAP cuisine en deux ans, j'ai travaillé dans divers structure de restauration comme Potel&Chabot en temps que commis de cuisine.

        </p>
        <h4>Aujourd'hui</h4>
        <p>
        	Je suis actuellement en formation chez Simplon afin de me reconvertir en développeur Web Fullstack PHP.

        </p>
        </center>
        <form class="burger" action="https://formspree.io/lefebure.hippolyte@hotmail.fr" method="POST">
            <p class="bun-top">
                Noms : <input type="text" name="name" value="">
           </p>
            <p class="tomato">
                Objet : <input type="text" name="object" value="">
            </p>
            <p class="onion"></p>
            <p class="bun-bottom">
                Message : <textarea name="message"></textarea>
            </p>
            <p class="plate">
                <input type="submit" value="Envoyer">
            </p>
        </form>
        <section>
            <button type="button" class="btn btn-primary">S'inscrire</button><br><br>
            <button type="button" class="btn btn-primary">Facebook</button>
        </section>

    </body>
</html>